
body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #eee3e3; background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFXcGQPtuqLAsELW2mEA4KNqgIr8tr3ITUlA&usqp=CAU');
    background-size: cover; 
}

/* Header styles */
header {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    color: #fff;
    text-align: center;
    padding: 30px;
}


header img {
  max-width: 150px;
}


header h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

/* Navigation styles */
nav ul {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav li {
    display: inline;
    margin-right: 20px;    
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

.box1,
.box2,
.box3 {
    width: 90px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
}

.box1:before,
.box2:before,
.box3:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box1:after,
.box2:after,
.box3:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box1:hover,
.box2:hover,
.box3:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box1:hover:before,
.box2:hover:before,
.box3:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.box1:hover:after,
.box2:hover:after,
.box3:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.box1,
.box2,
.box3 {
    top: -50%;
    left: 37%; /* Center horizontally */
    transform: translate(-50%, -50%);
}

.box1 {
    width: 90px; /* Reset width for box1 */
}

.box2 {
    width: 100px;
}

.box3 {
    width: 90px; /* Reset width for box3 */
}



/* Main content styles */
/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(1, 1, 1, 1);
    border-radius: 30px;
    transition: background-color 0.3s; /* Add transition for smooth color change */

    /* Add these styles for dark mode */
}

/* Modify the main content background color for dark mode */
.dark-mode main {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

/* Rest of your existing styles for the main content */


/* Section styles */
section {
   margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* Skill section specific styles */
#skills {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
}


.Footer1 nav ul li img {
  max-width: 40px;
  margin: 10px;
  padding: 10px;
}

/* Additional styles for the Footer1 */
.Footer2 {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

.Footer2 p{
  color: #fff;
  font-size: 16px;
}

/* Dark mode styles */
.dark-mode body {
    background-color: #333;
    color: #fff;
}

header.dark-mode {
    background-image: none;
    background-color: #333;
    color: #fff;
}

.dark-mode #skills{
    background-color: #534d4d;
    color: #fff;
}

.dark-mode .Footer2{
    background-image: none;
    background-color: #333;
    color: #fff;
}

/* Change text color to light in dark mode */
.dark-mode p,
.dark-mode h2 {
    color: #fff;
}

/* Dark mode switch styles */
.theme-switch {
    --toggle-size: 30px;
    --container-width: 60px;
    --container-height: 30px;
    --container-radius: 15px;
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 30px;
    --sun-moon-diameter: 20px;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 999;
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    transition: var(--transition);
    position: absolute;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: flex;
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    transition: var(--transition);
}

.theme-switch__moon {
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    font-size: 0.65em; /* Adjust the font-size as needed */
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
     transition: var(--transition);

}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    transform: translateY(-50%);
}


.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.984); /* Black background with some transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    top: 50%;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 45%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 50%;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 35%;
    }
  }
  
  .circle:nth-child(2) {
    left: 50%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: 55%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(175, 165, 165, 0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 45%;
    top: 52%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 50%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: 55%;
    animation-delay: .3s;
  }
  
 .button {
    --main-focus: #ef0000;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: absolute;
    width: 170px;
    height: 40px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
}

.button, .button__icon, .button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(10px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(120px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.button .svg {
    width: 20px;
    fill: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 158px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

  
